
    <!-- ***** Header Area Start ***** -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark stick">
        
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                <a class="navbar-brand" style="font-family: cursive;font-size:30px" href="#">Kooky</a>
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm công thức">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="/review" class="btn btn-success" role="button" aria-pressed="true"><i class="far fa-list-alt mr-sm-1"></i>Đăng công thức</a>                       
        </div>
        
       <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="/login" class="btn btn-large btn-primary mr-sm-2" role="button" aria-pressed="true">Đăng nhập</a>
            <a href="/registration" class="btn btn-large btn-secondary mr-sm-2" role="button" aria-pressed="true">Đăng kí</a>
       </div>

</nav>
