
    <!-- ***** Header Area Start ***** -->
    <div class="header kooky">
      <div class="row ">
          <div class="col-3">
            <p>KOOKY</p>
          </div>
          <div class="col-6">
              <form class="formSeach" action="#">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Tìm kiếm..."/>
                      <div class="input-group-prepend">
                          <span class="input-group-text"><mat-icon class="icon-text">youtube_searched_for</mat-icon></span>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col-3 ">
              <button class=" btn_header  px-3 pr-2" routerLink="/login">Đăng nhập</button>
              <button class=" btn_header  px-4 pl-2" routerLink="/registration">Đăng ký</button>
          </div>
      </div>
  </div>

