<header></header>

<div class="performReview">
  <div class="row">
      <img class=" center" src="{{food.image}}" alt="">
  </div>
  <h3>{{food.foodName}}</h3>
  <div class="row">
    <p class="Review mg-l50 mg-r50 mg-l50 cl-blue mg-t20">



    </p>
  </div>
  <div class="row">
      <div class="resourcesReview">
        <h5 class="resourcesTitle mg-l350">NGUYÊN LIỆU</h5>
        <p class="resources">
          {{food.material}}
        </p>
      </div>
  </div>
  <table style="margin: 30px 0px 30px 30px">
    <thead>
      <th scope="col">Cách làm</th>
    </thead>
    <tbody *ngFor="let step of steps">
      <tr>
        <td> Bước {{step.no}}</td>
        <td>{{step.content}}</td>
      </tr>
    </tbody>
  </table>
  <app-comment ></app-comment>
</div>
