<div class="Comment">
    <form class="formComment" action="#">
        <div class="input-Comment mg-r150">
            <input type="text" class="form-comment" placeholder="Thêm bình luận về bài viết ..."/>
            <div class="input-group-prepend">
                <button class=" btn_home  px-3">Đăng</button>
            </div>
        </div>
        <div class="Comments resourcesReview">
            <p class="namePeople mg-r50">Nguyễn Thị Anh Thư : Hơi khó làm <3 </p>
            <p class="namePeople mg-r50">Nguyễn trường sơn : Đã làm và rất ngon. </p>
            <p class="namePeople mg-r50">Châu Thị Tư : món ngon...<3 </p>
        </div>
    </form>
</div>

